qrcode==6.1
urllib3==1.26.6
pip==21.1.3
numpy==1.22.0
requests==2.25.1
aiofiles==0.7.0
aiohttp==3.7.4.post0
beautifulsoup4==4.9.3
dataclasses==0.6
Faker==8.8.2
googletrans==3.0.0
m3u8==0.9.0
natsort==7.1.1
openpyxl==3.0.7
pandas==1.2.5
pexpect==4.8.0
Pillow==8.3.2
psutil==5.8.0
pycryptodome==3.10.1
pymysql==1.0.2
selenium==3.141.0
zhconv==1.4.1
